.cart {
    width: 100%;
    background-color: #faf9f6ad;

    &__top {
        width: 100%;
        height: 500px;
        background-image: url(https://img.freepik.com/free-photo/portrait-cheerful-woman-holding-shopping-bags_171337-3676.jpg?w=1060&t=st=1688726534~exp=1688727134~hmac=f8542d8832945a5671559b12420d44a8d9c45377b85996ca33a506b684bbae6f);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &__wrapper {
            width: 100%;
            height: 100%;
            background-color: rgb(0, 0, 0, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgb(255, 255, 255, 0.7);


            &__text {
                width: 76%;
                padding-top: 130px;

                h2 {
                    font-size: 46px;
                    letter-spacing: 1px;
                }

                p {
                    font-size: 19px;
                    color: rgba(0, 0, 0, 0.778);

                    a {
                        text-decoration: none;
                        color: #5c5e62;

                        &:hover {
                            color: rgba(0, 0, 0, 0.778);
                            transition: 0.4s;
                        }
                    }
                }
            }
        }
    }

    &__products {
        width: 100%;
        padding: 50px 190px;

        &__top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-bottom: 50px;
            align-items: center;

            button {
                text-decoration: none;
                padding: 12px 12px;
                color: white;
                border-radius: 5px;
                background-color: #b0a377;
                border: none;
                font-size: 14px;
                font-weight: bold;
            }

            input {
                border-radius: 5px;
                padding-left: 10px;
                border: none;
                border: 2px solid #cccccc7c;
                transition: border-color 0.3s ease-in-out;
                height: 40px;

                &:focus {
                    border-color: #b0a377;
                    outline: none;
                }
            }
        }

        table {
            background-color: white;
            border: 1px solid rgba(128, 128, 128, 0);
            width: 100%;
            margin-bottom: 90px;
            border: 1px solid rgba(128, 128, 128, 0.384);

            th {
                padding: 20px 0 50px;
                font-size: 20px;
            }

            tbody {
                tr {
                    border-bottom: 1px solid rgba(128, 128, 128, 0.384);
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

                    td {
                        padding: 20px 10px;

                        img {
                            width: 150px;
                            height: 100px;
                            object-fit: contain;
                        }
                    }
                }
            }

        }
    }
}

.table-delete {
    background: transparent;
    font-size: 28px;
    color: black;
}

.cart__total {
    background-color: white;
    width: 100%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;


    h2 {
        color: #5c5e62;
        font-size: 22px;
        font-weight: bolder;
        letter-spacing: 1px;
        padding-bottom: 10px;
    }

    table {
        margin: 0;
        border: 1px solid rgba(128, 128, 128, 0);

        tr {
            border-bottom: 1px solid rgba(128, 128, 128, 0.129);
            // box-shadow: rgba(0, 0, 0, 0.019) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }

        thead tr td {
            text-align: right;
        }

        thead th {
            padding: 6px 0;
            font-size: 20px;
            letter-spacing: 2px;
        }
    }
}

.total-btn {
    width: 100%;
    text-align: right;

    button {
        margin-top: 10px;
        text-decoration: none;
        padding: 8px 20px;
        color: white;
        border-radius: 5px;
        background-color: #b0a377;
        border: none;
        font-size: 14px;
        font-weight: bold;
    }
}

tbody tr td {
    span {
        font-size: 20px;
        font-weight: bold;
        color: #5c5e62;
    }
}

.count {
    border: 1px solid #5c5e62;
    width: 120px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: #5c5e6217;

    span {
        font-size: 20px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.counter {
    font-size: 30px;
    border-right: 1px solid #5c5e62;
    border-left: 1px solid #5c5e62;
    color: rgba(0, 0, 0, 0.684);
}

.counter-btn {
    background-color: rgba(0, 0, 0, 0.418);
}

.no-items {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0 20px;
    border-bottom: 3px solid #b0a377;
    margin-bottom: 40px;

    em {
        font-size: 18px;
        font-weight: bold;
        color: #5c5e62;
    }
}