.table-datas {
    padding: 60px 80px;
    
    .table__btn {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;

        button {
            margin: 0;
            border: none;
            border-radius: 3px;
            padding: 10px 20px;
        }

        input {
            padding-left: 10px;
        }
    }
}

.table-dark {
    tbody {
        button {
            background-color: transparent;
        }
    }
}

button .act-icon-delete {
    font-size: 30px;
    color: red;
}

button .act-icon-edit {
    font-size: 29px;
    color: orange;
}

button .act-icon-detail {
    font-size: 30px;
    color: aliceblue;
}

tbody td {
    font-size: 14px;
}