@mixin display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrolled-header {
  width: 100%;
  height: 70px;
  background-color: white;
  position: fixed;
  z-index: 1;
  padding: 0px 15px;
  @include display;
  transition: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  .first-logo {
    display: none;
  }

  &__left {
    width: 240px;
    height: 100%;
    // border-right:1px solid black;
    @include center;

    img {
      width: 160px;
      height: 34.42px;
      cursor: pointer;
    }
  }

  &__middle {
    ul {
      display: flex;
      gap: 30px;
      list-style: none;
      margin: 0;
      padding: 0px;
      font-size: 15px;

      li {
        a {
          font-weight: 500;
          text-decoration: none;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  &__right {
    height: 100%;

    ul {
      @include display;
      list-style: none;
      margin: 0;
      padding: 0px;
      height: 100%;

      li {
        height: 100%;
        width: 67px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        // border-left: 1px solid black;
        // border-right: 1px solid black;

        a {
          color: white;
        }
      }
    }
  }

  &__hamburger {
    display: none;

    .hamburger {
      color: white;
      font-size: 32px;
      font-weight: bold;
      cursor: pointer;
      display: flex;
    }
  }

  .scrolled-header__middle ul li a {
    color: #5c5e62;

    &:hover {
      color: #b0a377;
      transition: 0.3s;
    }
  }

  .scrolled-header__right ul li a {
    color: #5c5e62;

    &:hover {
      color: #b0a377;
      transition: 0.3s;
    }
  }

  .scrolled-header__hamburger .hamburger {
    color: #5c5e62;
  }
}

.header {
  // background-color: #2d2d2d;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 99999;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 101px;
  padding: 0px 15px;
  @include display;
  position: fixed;
  top: 0;
  left: 0;

  .second-logo {
    display: none;
  }

  &__left {
    width: 240px;
    height: 100%;
    // border-right:1px solid black;
    @include center;

    img {
      width: 160px;
      height: 34.42px;
      cursor: pointer;
    }
  }

  &__middle {
    ul {
      display: flex;
      gap: 30px;
      list-style: none;
      margin: 0;
      padding: 0px;
      font-size: 15px;


      li {
        a {
          font-weight: 500;
          text-decoration: none;
          color: white;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  &__right {
    height: 100%;

    ul {
      @include display;
      list-style: none;
      margin: 0;
      padding: 0px;
      height: 100%;

      li {
        height: 100%;
        width: 67px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        // border-left: 1px solid black;
        // border-right: 1px solid black;

        a {
          color: white;
        }
      }
    }
  }

  &__hamburger {
    display: none;

    .hamburger {
      color: white;
      font-size: 32px;
      font-weight: bold;
      cursor: pointer;
      display: flex;
    }
  }
}





//media query

@media screen and (max-width: 992px) {
  .header {
    background-color: #2d2d2d;
  }

  .header__middle {
    display: none;
  }

  .header__left {
    width: 150px;

    img {
      width: 120px;
      height: 27px;
    }
  }

  .header__right {
    display: none;
  }

  .header__hamburger {
    display: block;
    padding-right: 20px;
  }
}